---
---

@import "minimal-mistakes";

/* 본문 */
body, p, li {
  font-family: "Inter", "Noto Sans KR", sans-serif;
  font-weight: 400;
}

/* 제목 */
h1, h2, h3, h4 {
  font-family: "Inter", "Noto Sans KR", sans-serif;
  font-weight: 600;
}
