---
---

@import "minimal-mistakes";

/* 본문은 세리프 */
body, p, li {
  font-family: "Merriweather", serif;
  font-size: 18px;
  line-height: 1.7;
}

/* 제목은 산세리프 */
h1, h2, h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}
